# Python bytecode
__pycache__
*.egg-info

# Django dynamic directories
logs
media

# Database files
# *.sqlite3
# *.rdb

# Environment variables
.env
.env.docker

# Virtual environment
.venv
envname

# Static files
node_modules

# IDE config
.vscode



.DS_Store
*.pyc

.idea

